<footer>
    <div class="footerRow">
        <div class="footerCol">
            <h5 class="footerTitle">XZRT</h5>
            <ul class="footerList">
                <li><a [routerLink]="['/info']" [queryParams]="{ type: 'about', lang: lang}">关于我们</a></li>
                <li><a [routerLink]="['/info']" [queryParams]="{ type: 'contact', lang: lang}">联系我们</a></li>
            </ul>
        </div>
        <div class="footerDivider"></div>
        <div class="footerCol">
            <h5 class="footerTitle">友情连接</h5>
            <ul class="footerList">
                <li><a href="http://www.robocup.org/">RoboCup.org</a></li>
                <li><a href="http://www.rcj.org.cn/">RCJ 中国</a></li>
            </ul>
        </div>
    </div>
</footer>
